{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Bienvenue dans notre site de GESTION DES NOTES des étudiants</h1>
    </div>

    <div class="options center-links">
        <p>
            <a href="{% url 'studentLogin' %}" class="link-button">étudiant</a>
            <a href="{% url 'teacherLogin' %}" class="link-button">professeur</a>
        </p>
    </div>
</div>

<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</body>
</html>
